@media screen and (min-width: 320px) and (max-width: 655px) {
  .cabecalho__dicas {
    background-image: url("../img/christophe-r-_N7IJsUJNiE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 26vh;
    h2 {
        font-family: Dancing Script;
        font-size: 2.2rem;
        text-align: left;
        color: #ffffff;
        padding-top: 2.5em;
        padding-left: 0.5em;
      }
  }
  .main__dicas {
    background-image: linear-gradient(rgb(199, 201, 202), rgb(232, 239, 240));
    .grade {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr 0.1fr;
        grid-template-areas:
          "img"
          "h3"
          "p";
        img {
            grid-area: img;
            width: 65vh;
            height: 35vh;
            padding: 24px 20px 0 20px;
        }
        h3 {
            font-family: Dancing Script;
            font-size: 2rem;
            grid-area: h3;
            padding-top: 8px;
            padding-left: 50px;
            padding-right: 40px;
        }
        p {
            font-family: Mulish;
            font-size: 1rem;
            grid-area: p;
            padding-left: 50px;
            padding-right: 50px;
            text-align: justify;
        }
    }
    .title__dica {
      font-family: Dancing Script;
      font-size: 40px;
      padding-top: 40px;
      padding-left: 46px;
    }
    .title__receita {
      font-family: Dancing Script;
      font-size: 40px;
      padding-top: 46px;
      padding-left: 46px;
    }
    .reserva {
      font-family: Mulish;
      font-size: 1.3rem;
      padding-top: 36px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 36px;
      text-align: justify;
      a {
        color: #111111;
      }
    }
  }
}

@media screen and (min-width: 656px) {
  .cabecalho__dicas {
    background-image: url("../img/christophe-r-_N7IJsUJNiE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 28vh;
    padding: 10px;
    h2 {
      font-family: Dancing Script;
      font-size: 5rem;
      color: #ffffff;
      text-align: left;
      padding-top: 0.8em;
      padding-left: 0.5em;
    }
  }
  .main__dicas {
    background-image: linear-gradient(rgb(199, 201, 202), rgb(232, 239, 240));
    .grade {
      display: grid;
      grid-template-columns: 2fr 7fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "img h3"
        "img p"
        "img p";
        img {
          grid-area: img;
          width: 42.24vh;
          height: 24.96vh;
          padding-top: 24px;
          padding-left: 24px;
        }
        h3 {
          font-family: Dancing Script;
          font-size: 2.25rem;
          grid-area: h3;
          padding-top: 20px;
          padding-left: 8px;
        }
        p {
            font-family: Mulish;
            font-size: 1.13rem;
            grid-area: p;
            padding-top: 16px;
            padding-left: 26px;
        }
    }
    .title__dica {
      font-family: Dancing Script;
      font-size: 2.5rem;
      padding-top: 40px;
      padding-left: 46px;
    }
    .title__receita {
      font-family: Dancing Script;
      font-size: 2.5rem;
      padding-top: 46px;
      padding-left: 46px;
    }
    .reserva {
      font-family: Mulish;
      font-size: 1.5rem;
      padding: 52px 0px 52px 26px;
      a {
        color: #111111;
      }
    }
  }
}
