@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

// Variáveis
$title-font: Dancing Script;
$paragraph-font: Mulish;
$paragraph-size: 1.1rem;
$reserva-size: 1.3rem;
$reserva-desktop-size: 1.5rem;
$white: #ffffff;
$black: #111111;
// fim variáveis

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import './menu.scss';
@import './contato.scss';
@import './dicas.scss';
@import './servico.scss';

@media screen and (min-width: 320px) and (max-width: 655px) {
  body {
    background-color: rgb(64, 118, 128);
    .grade {
      display: grid;
      grid-template-areas:
        "header"
        "cabecalho"
        "main"
        "address"
        "footer";
      grid-template-rows: repeat(1fr);

      nav {
        .menu__item {
          font-family: $title-font;
          font-size: 1.5rem;
          color: $white;
        }
        a {
          color: $white;
          text-decoration: none;

          .nav-link {
            color: $white;
          }

        }
        .menu__image {
          width: 18vh;
          height: 15vh;
          display: flex;
          flex-direction: row;
        }
        grid-area: header;
      }

      .cabecalho {
        background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 36vh;
        grid-area: cabecalho;
        h1.cabecalho__title {
          font-family: $title-font;
          font-size: 3.5rem;
          text-align: right;
          color: $white;
          padding-top: 1.5em;
          margin-right: 25px;
          margin-left: 22%;
        }
      }
      h2.cabecalho__title {
        font-family: $title-font;
        font-size: 4rem;
        color: $white;
      }
      .cabecalho__title__right {
        text-align: right;
        margin-right: 25px;
        margin-left: 30%;
      }
      .cabecalho__title__left {
        text-align: left;
        margin-left: 30px;
        margin-right: 30%;
      }

      .main {
        grid-area: main;
        display: grid;
        grid-template-areas:
          "equipe"
          "pratos";
        grid-template-rows: 45% 45%;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 30px;
        background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));
        h2 {
          text-align: center;
        }
        .equipe {
          .grade__equipe {
            display: grid;
            grid-template-areas:
              "img"
              "p";
            grid-template-rows: 78% 30%;
            grid-template-columns: 1fr;
            justify-content: center;

            img {
              margin-top: 20px;
              grid-area: img;
            }
            p {
              height: 160px;
            }
          }
        }
        .pratos {
          margin-top: 55px;
          .grade__pratos {
            display: grid;
            grid-template-areas:
              "img img"
              "img img"
              "img img";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            align-items: center;

            img {
              width: auto;
              height: 20vh;
              grid-area: img;
              padding: 10px 10px;
              transition: height 1s;
              transition: width 1s;
              &:hover {
                height: 22.5vh;
                width: 25vh;
              }
            }
          }
        }
      }
      h2 {
        font-family: $title-font;
        font-size: 2.36rem;
        font-weight: 400;
      }
      h3 {
        font-family: $title-font;
        font-size: 2rem;
        padding-top: 8px;
      }
      h5 {
        font-family: $paragraph-font;
        font-size: $paragraph-size;
        font-weight: bold;
        padding-top: 8px;
        padding-left: 50px;
      }
      p {
        font-family: $paragraph-font;
        font-size: $paragraph-size;
        text-align: justify;
      }
      .endereco {
        display: grid;
        grid-template-areas:
          "h2"
          "maps"
          "grade__endereco"
          "endereco__nome";
        padding-top: 36px;
        background-color: rgb(64, 118, 128);
        grid-area: address;

        h2 {
          grid-area: h2;
          text-align: center;
          color: $white;
        }

        .grade__mapa{
          .maps {
            grid-area: maps;
            width: 100%;
            height: 42vh;
            align-items: center;
          }
          .grade__endereco {
            grid-area: grade__endereco;
            display: flex;
            flex-direction: column;
            margin-top: 16px;
            margin-bottom: 16px;

            .endereco__nome {
              text-align: center;
              color: $white;
            }
          }
        }
      }
      .link__reserva {
        text-align: center;
        padding-top: 24px;
        margin: 10px;
        font-family: $paragraph-font;
        font-size: $reserva-size;
        a {
          color: $black;
        }
      }
      .link__reserva__white {
        color: $white;
        a {
          color: $white;
        }
      }
      .footer {
        background-color: rgb(22, 46, 51);
        padding-top: 16px;
        padding-bottom: 16px;

        p {
          justify-content: center;
          font-family: $paragraph-font;
          text-align: center;
          font-size: 1rem;
          font-weight: bold;
          color: $white;
          text-align: center;
        }

        .redes__sociais {
          text-align: center;
          align-items: center;

          img {
            width: 5vh;
            height: 5vh;
          }
        }
        grid-area: footer;
      }
    }
  }
}

@media screen and (min-width: 656px) {
  body {
    background-color: rgb(64, 118, 128);
    .grade {
      display: grid;
      grid-template-areas:
        "header"
        "cabecalho"
        "main"
        "address"
        "footer";
      grid-template-rows: 1fr;
      grid-template-columns: 100%;

      nav {
        .menu__item {
          font-family: $title-font;
          font-size: 1.5rem;
          color: $white;
        }
        a {
          color: $white;
          text-decoration: none;

          .nav-link {
            color: $white;
          }
        }

        .menu__image {
          width: 19.2vh;
          height: 14.4vh;
        }
        grid-area: header;
      }

      .cabecalho {
        background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 58.24vh;
        grid-area: cabecalho;

        h1.cabecalho__title {
          font-family:  $title-font;
          font-size: 5rem;
          text-align: right;
          color: $white;
          padding-top: 3em;
          margin-right: 30px;
          margin-left: 45%
        }
      }
      h2.cabecalho__title {
        font-family: $title-font;
        font-size: 5rem;
        color: $white;
        padding-top: 1em;

      }
      .cabecalho__title__right {
        text-align: right;
        margin-right: 30px;
      }
      .cabecalho__title__left {
        text-align: left;
        margin-left: 30px;
      }

      .main {
        display: grid;
        grid-template-areas: "equipe pratos";
        grid-template-rows: 100%;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        padding: 30px;
        background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));
        grid-area: main;

        h2 {
          text-align: center;
        }
        .equipe {
          padding-bottom: 50px;
          .grade__equipe {
            display: grid;
            grid-template-areas:
              "img"
              "p";
            grid-template-rows: 80% 30%;
            grid-template-columns: 1fr;
            justify-content: center;

            img {
              margin: 50px 0 60px 0;
              grid-area: img;
            }
            p {
              height: 200px;
            }
          }
        }

        .pratos {
          .grade__pratos {
            display: grid;
            grid-template-areas:
              "img img img"
              "img img img";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;

            img {
              width: 24vh;
              height: 20vh;
              transition: height 2s;
              transition: width 2s;
              padding-top: 50px;
              &:hover {
                width: 26vh;
                height: 22vh;
              }
            }
          }
        }
      }
      h2 {
        font-family: $title-font;
        font-size: 2.5rem;
        font-weight: 400;
      }
      h3 {
        font-family: $title-font;
          font-size: 2.25rem;
      }
      h5 {
        font-family: $paragraph-font;
        font-size: $paragraph-size;
        font-weight: bold;
        padding-left: 26px;
      }
      p {
        font-family: $paragraph-font;
        font-size: $paragraph-size;
        text-align: justify;
      }
      .endereco {
        display: flex;
        padding-top: 36px;
        flex-direction: column;
        background-color: rgb(64, 118, 128);

        h2 {
          text-align: center;
          color: $white;
        }

        .grade__mapa {
          display: flex;
          flex-direction: row;
          padding-left: 24px;
          padding-bottom: 16px;
          align-items: center;

          .maps {
            width: 96vh;
            height: 72vh;
            padding-top: 16px;
          }

          .grade__endereco {
            display: flex;
            flex-direction: column;

            .endereco__nome {
              width: 80%;
              text-align: center;
              margin: auto;
              color: $white;
            }
          }
        }
        grid-area: address;
      }
      .link__reserva {
        text-align: center;
        padding-top: 24px;
        margin: 10px;
        font-family: $paragraph-font;
        font-size: $reserva-desktop-size;
        a {
          color: $black;
        }
      }
      .link__reserva__white {
        color: $white;
        a {
          color: $white;
        }
      }
      .footer {
        background-color: rgb(22, 46, 51);
        padding: 12px;
        padding-top: 16px;

        p {
          justify-content: center;
          font-family: $paragraph-font;
          text-align: center;
          font-size: $paragraph-size;
          font-weight: bold;
          color: $white;
          text-align: center;
        }

        .redes__sociais {
          align-items: center;
          text-align: center;

          img {
            width: 6vh;
            height: 6vh;
          }
        }
        grid-area: footer;
      }
    }
  }
}
