@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* Variáveis */
$title-font: Dancing Script;
$paragraph-font: Mulish;
/*fim variáveis*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import './menu.scss';
@import './contato.scss';
@import './dicas.scss';
@import './servico.scss';

@media screen and (min-width: 320px) and (max-width: 655px) {
  .grade {
    display: grid;
    grid-template-areas:
      "header"
      "cabecalho"
      "main"
      "address"
      "footer";
    grid-template-rows: repeat(1fr);

    nav {
      a {
        color: white;
        text-decoration: none;

        .nav-link {
          color: #ffffff;
        }
        .menu__item {
          font-family: $title-font;
          font-size: 1.5rem;
          color: #ffffff;
        }
      }
      .menu__image {
        width: 18vh;
        height: 15vh;
        display: flex;
        flex-direction: row;
      }
    }

    .cabecalho {
      background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 36vh;
      .cabecalho__title {
        font-family: $title-font;
        font-size: 2.2rem;
        text-align: center;
        color: white;
        padding-top: 80px;
        padding-left: 180px;
      }
    }

    .main {
      display: grid;
      grid-template-areas:
        "equipe"
        "pratos";
      grid-template-rows: 45% 45%;
      grid-template-columns: 100%;
      justify-content: space-between;
      padding: 30px;
      background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));

      .equipe {
        h3 {
          text-align: center;
          font-size: 2.36rem;
          font-weight: 400;
          font-family: $title-font;
        }

        .grade__equipe {
          display: grid;
          grid-template-areas:
            "img"
            "p";
          grid-template-rows: 40% 70%;
          grid-template-columns: 1fr;
          padding: 0 20px 0 20px;

          img {
            padding-top: 20px;
            grid-area: img;
          }

          p {
            font-family: $paragraph-font;
            font-size: 0.75rem;
            text-align: justify;
            padding-top: 100px;
            grid-area: p;
          }
        }
      }

      .pratos {
        h3 {
          text-align: center;
          font-size: 2.38rem;
          font-weight: 400;
          font-family: $title-font;
        }

        .grade__pratos {
          display: grid;
          grid-template-areas:
            "img img"
            "img img"
            "img img";
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          align-items: center;

          img {
            width: auto;
            height: 20vh;
            grid-area: img;
            padding: 10px 10px;
            transition: height 1s;
            transition: width 1s;
            &:hover {
              height: 22.5vh;
              width: 25vh;
            }
          }
        }
      }
    }

    .endereco {
      display: grid;
      grid-template-areas:
        "h3"
        "maps"
        "grade__endereco"
        "endereco__nome";
      padding-top: 36px;
      background-color: rgb(64, 118, 128);

      h3 {
        grid-area: h3;
        text-align: center;
        font-size: 2.36rem;
        font-weight: 400;
        font-family: $title-font;
        color: white;
      }

      .grade__mapa{
        .maps {
          grid-area: maps;
          width: 100%;
          height: 42vh;
          align-items: center;
        }
        .grade__endereco {
          grid-area: grade__endereco;
          display: flex;
          flex-direction: column;
          margin-top: 16px;
          margin-bottom: 16px;

          .endereco__nome {
            text-align: center;
            color: white;
            font-family: $paragraph-font;
            font-size: 1.1rem;
          }

          .link__reserva {
            text-align: center;
            padding-top: 24px;
            color: white;
            font-family: $paragraph-font;
            font-size: 1.1rem;

            a {
              color: white;
            }
          }
        }
      }
    }

    .footer {
      background-color: rgb(22, 46, 51);
      padding-top: 16px;
      padding-bottom: 16px;

      p {
        justify-content: center;
        font-family: $paragraph-font;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        text-align: center;
      }

      .redes__sociais {
        text-align: center;
        align-items: center;

        img {
          width: 5vh;
          height: 5vh;
        }
      }
    }
  }
}

@media screen and (min-width: 656px) {
  .grade {
    display: grid;
    grid-template-areas:
      "header"
      "cabecalho"
      "main"
      "address"
      "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;

    nav {
      .menu__item {
        font-family: $title-font;
        font-size: 1.5rem;
        color: #ffffff;
      }
      a {
        color: white;
        text-decoration: none;

        .nav-link {
          color: #ffffff;
        }
      }

      .menu__image {
        width: 19.2vh;
        height: 14.4vh;
      }
    }

    .cabecalho {
      background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 58.24vh;

      .cabecalho__title {
        font-family:  $title-font;
        font-size: 5rem;
        text-align: center;
        color: white;
        padding-top: 125px;
        padding-left: 400px;
      }
    }

    .main {
      display: grid;
      grid-template-areas: "equipe pratos";
      grid-template-rows: 100%;
      grid-template-columns: 45% 45%;
      justify-content: space-between;
      padding: 30px;
      background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));

      .equipe {
        h3 {
          text-align: center;
          font-size: 2.36rem;
          font-weight: 400;
          font-family: $title-font;
        }

        .grade__equipe {
          display: grid;
          grid-template-areas:
            "img"
            "p";
          grid-template-rows: 40% 70%;
          grid-template-columns: 1fr;
          padding-left: 50px;

          img {
            width: 83.84vh;
            height: 52.48vh;
            padding-top: 50px;
          }

          p {
            font-family: $paragraph-font;
            font-size: 0.75rem;
            text-align: justify;
            padding-top: 170px;
          }
        }
      }

      .pratos {
        h3 {
          text-align: center;
          font-size: 38px;
          font-weight: 400;
          font-family: $title-font;
        }

        .grade__pratos {
          display: grid;
          grid-template-areas:
            "img img img"
            "img img img";
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          padding-top: 80px;
          align-items: center;

          img {
            width: 24.96vh;
            height: 20.48vh;
            transition: height 1s;
            transition: width 1s;
            &:hover {
              height: 22.5vh;
              width: 25vh;
            }
          }
        }
      }
    }

    .endereco {
      display: flex;
      padding-top: 36px;
      flex-direction: column;
      background-color: rgb(64, 118, 128);

      h3 {
        text-align: center;
        font-size: 2.36rem;
        font-weight: 400;
        font-family: $title-font;
        color: white;
      }

      .grade__mapa {
        display: flex;
        flex-direction: row;
        padding-left: 24px;
        padding-bottom: 16px;
        align-items: center;

        .maps {
          width: 96vh;
          height: 72vh;
          padding-top: 16px;
        }

        .grade__endereco {
          display: flex;
          flex-direction: column;

          .endereco__nome {
            padding-left: 64px;
            color: white;
            font-family: $paragraph-font;
            font-size: 1.25rem;
          }

          .link__reserva {
            padding-left: 64px;
            padding-top: 50px;
            color: white;
            font-family: $paragraph-font;
            font-size: 1.25rem;

            a {
              color: white;
            }
          }
        }
      }
    }

    .footer {
      background-color: rgb(22, 46, 51);
      padding: 12px;
      padding-top: 16px;

      p {
        justify-content: center;
        font-family: $paragraph-font;
        text-align: center;
        font-size: 1.65rem;
        font-weight: bold;
        color: white;
        text-align: center;
      }

      .redes__sociais {
        align-items: center;
        text-align: center;

        img {
          width: 6vh;
          height: 6vh;
        }
      }
    }
  }
}
