@media screen and (min-width: 320px) and (max-width: 655px) {
  .grade{
    .cabecalho__menu {
      background-image: url("../img/christophe-r-KU1DYLV3tQE-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 26vh;
      grid-area: cabecalho;
      .cabecalho__title {
        padding-top: 1em;
    }
    }

    .menu {
      background-image: linear-gradient(rgb(199, 201, 202), rgb(232, 239, 240));
      section {
        .title__entradas,
        .title__pratos,
        .title__bebidas,
        .title__sobremesas{
          font-family: $title-font;
          font-size: 2.5rem;
          padding-top: 40px;
          padding-left: 46px;
        }
        .pratos {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0.5fr 0.3fr 0.1fr;
          grid-template-areas:
            "img"
            "h3"
            "p"
            "h5";
            img {
              grid-area: img;
              width: 80%;
              height: auto;
              padding-top: 1.5em;
              margin: auto;
            }
            h3 {
              grid-area: h3;
              padding-top: 8px;
              text-align: left;
              margin-left: 50px;
            }
            p {
              width: 80%;
              margin: auto;
              grid-area: p;
            }
            h5 {
              grid-area: h5;
            }
        }
      }
    }
  }
}

@media screen and (min-width: 656px) {
  .grade {
    .cabecalho__menu {
      background-image: url("../img/christophe-r-KU1DYLV3tQE-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 28vh;
      padding: 10px;
    }

  .menu {
    background-image: linear-gradient(rgb(199, 201, 202), rgb(232, 239, 240));
    section {
        .pratos {
            display: grid;
            grid-template-columns: 2fr 7fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
              "img h3"
              "img p"
              "img h5";
              img {
                grid-area: img;
                width: 36vh;
                height: auto;
                padding-top: 1.5em;
                padding-left: 1.5em;
                transition: height 2s, width 2s;
                &:hover {
                    width: 46vh;
                    height: auto;
                }
            }
            h3 {
                grid-area: h3;
                text-align: left;
                margin-left: 25px;
                padding-top: 1.5em;
            }
            p {
              grid-area: p;
                margin: 0 25px 0 20px;
            }
            h5 {
                grid-area: h5;
            }
        }
        .title__entradas,
        .title__pratos,
        .title__bebidas,
        .title__sobremesas {
            font-family: $title-font;
            font-size: 3rem;
            padding-top: 1em;
            padding-left: 1em;
        }
    }
  }
}
}
