@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

@media screen and (min-width: 320px) and (max-width: 655px) {
  .grade .cabecalho__menu {
    background-image: url("../img/christophe-r-KU1DYLV3tQE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 26vh;
    grid-area: cabecalho; }
    .grade .cabecalho__menu .cabecalho__title {
      padding-top: 1em; }
  .grade .menu {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .grade .menu section .title__entradas,
    .grade .menu section .title__pratos,
    .grade .menu section .title__bebidas,
    .grade .menu section .title__sobremesas {
      font-family: Dancing Script;
      font-size: 2.5rem;
      padding-top: 40px;
      padding-left: 46px; }
    .grade .menu section .pratos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr 0.3fr 0.1fr;
      grid-template-areas: "img" "h3" "p" "h5"; }
      .grade .menu section .pratos img {
        grid-area: img;
        width: 80%;
        height: auto;
        padding-top: 1.5em;
        margin: auto; }
      .grade .menu section .pratos h3 {
        grid-area: h3;
        padding-top: 8px;
        text-align: left;
        margin-left: 50px; }
      .grade .menu section .pratos p {
        width: 80%;
        margin: auto;
        grid-area: p; }
      .grade .menu section .pratos h5 {
        grid-area: h5; } }

@media screen and (min-width: 656px) {
  .grade .cabecalho__menu {
    background-image: url("../img/christophe-r-KU1DYLV3tQE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 28vh;
    padding: 10px; }
  .grade .menu {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .grade .menu section .pratos {
      display: grid;
      grid-template-columns: 2fr 7fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img h3" "img p" "img h5"; }
      .grade .menu section .pratos img {
        grid-area: img;
        width: 36vh;
        height: auto;
        padding-top: 1.5em;
        padding-left: 1.5em;
        transition: height 2s, width 2s; }
        .grade .menu section .pratos img:hover {
          width: 46vh;
          height: auto; }
      .grade .menu section .pratos h3 {
        grid-area: h3;
        text-align: left;
        margin-left: 25px;
        padding-top: 1.5em; }
      .grade .menu section .pratos p {
        grid-area: p;
        margin: 0 25px 0 20px; }
      .grade .menu section .pratos h5 {
        grid-area: h5; }
    .grade .menu section .title__entradas,
    .grade .menu section .title__pratos,
    .grade .menu section .title__bebidas,
    .grade .menu section .title__sobremesas {
      font-family: Dancing Script;
      font-size: 3rem;
      padding-top: 1em;
      padding-left: 1em; } }

@media screen and (min-width: 320px) and (max-width: 655px) {
  .cabecalho__contato {
    background-image: url("../img/christophe-r-OrE_QUn08EY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 26vh;
    grid-area: cabecalho; }
    .cabecalho__contato .cabecalho__title {
      padding-top: 1em; }
  .main__contato {
    background-color: #ffffff; }
    .main__contato .contatoReservas h2 {
      width: 80%;
      margin: 15px auto; }
    .main__contato .contatoReservas .contato {
      display: flex;
      flex-direction: row; }
      .main__contato .contatoReservas .contato .grade__forms {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        width: 80%;
        margin: 15px auto; }
        .main__contato .contatoReservas .contato .grade__forms p {
          margin: 0; }
        .main__contato .contatoReservas .contato .grade__forms textarea {
          display: flex;
          flex-direction: column;
          font-family: Mulish;
          font-size: 1.1rem;
          padding: 8px; }
        .main__contato .contatoReservas .contato .grade__forms .option__grade {
          display: flex;
          flex-direction: row;
          font-family: Mulish;
          font-size: 1.1rem; }
      .main__contato .contatoReservas .contato .grade__input {
        font-family: Mulish;
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 25px auto; }
        .main__contato .contatoReservas .contato .grade__input .bottom {
          padding: 4px 24px 4px 24px; } }

@media screen and (min-width: 656px) {
  .cabecalho__contato {
    background-image: url("../img/christophe-r-OrE_QUn08EY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 28vh;
    padding: 10px; }
  .main__contato {
    background-color: #ffffff; }
    .main__contato .contatoReservas h2 {
      margin: 32px 0px 16px 40px; }
    .main__contato .contatoReservas .contato {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between; }
      .main__contato .contatoReservas .contato .grade__forms {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        width: 80%;
        margin: 15px auto; }
        .main__contato .contatoReservas .contato .grade__forms p {
          margin: 0;
          margin-right: 32px; }
        .main__contato .contatoReservas .contato .grade__forms textarea {
          display: flex;
          flex-direction: column;
          font-family: Mulish;
          font-size: 1.1rem;
          padding: 8px;
          margin: 12px 0px 20px; }
        .main__contato .contatoReservas .contato .grade__forms .option__grade {
          display: flex;
          flex-direction: row;
          font-family: Mulish;
          font-size: 1.1rem;
          margin: 20px 0px 36px; }
      .main__contato .contatoReservas .contato .grade__input {
        font-family: Mulish;
        font-size: 1.1rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 50px;
        margin-left: 94px; }
        .main__contato .contatoReservas .contato .grade__input .bottom {
          padding: 4px 24px 4px 24px; } }

@media screen and (min-width: 320px) and (max-width: 655px) {
  .cabecalho__dicas {
    background-image: url("../img/christophe-r-_N7IJsUJNiE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 26vh;
    grid-area: cabecalho; }
  .main__dicas {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .main__dicas .grade {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.2fr 0.1fr;
      grid-template-areas: "img" "h3" "p"; }
      .main__dicas .grade img {
        grid-area: img;
        width: 65vh;
        height: 35vh;
        padding: 24px 20px 0 20px; }
      .main__dicas .grade h3 {
        grid-area: h3;
        text-align: left;
        margin: 0 0 0 25px; }
      .main__dicas .grade p {
        grid-area: p;
        margin: 25px; }
    .main__dicas .title__dica,
    .main__dicas .title__receita {
      font-family: Dancing Script;
      font-size: 2.5rem;
      padding-top: 40px;
      padding-left: 46px; } }

@media screen and (min-width: 656px) {
  .cabecalho__dicas {
    background-image: url("../img/christophe-r-_N7IJsUJNiE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 28vh;
    padding: 10px; }
  .main__dicas {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .main__dicas .grade {
      display: grid;
      grid-template-columns: 3fr 6fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img h3" "img p" "img p"; }
      .main__dicas .grade img {
        grid-area: img;
        width: 100vh;
        height: auto;
        padding: 24px; }
      .main__dicas .grade h3 {
        grid-area: h3;
        padding-top: 20px;
        margin-right: 25px; }
      .main__dicas .grade p {
        grid-area: p;
        margin-right: 25px; }
    .main__dicas .title__dica,
    .main__dicas .title__receita {
      font-family: Dancing Script;
      font-size: 2.5rem;
      padding-top: 40px;
      padding-left: 46px; } }

@media screen and (min-width: 320px) and (max-width: 655px) {
  .cabecalho__servicos {
    background-image: url("../img/christophe-r-QM2Exov4E2Q-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 26vh;
    grid-area: cabecalho; }
  .main__servicos {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .main__servicos .servicos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr 0.3fr 0.1fr;
      grid-template-areas: "img" "h2" "p" "h5"; }
      .main__servicos .servicos img {
        grid-area: img;
        width: 80%;
        padding-top: 24px;
        margin: auto; }
      .main__servicos .servicos h2 {
        grid-area: h2;
        padding-top: 8px;
        padding-left: 50px; }
      .main__servicos .servicos p {
        margin: 0 50px;
        grid-area: p; }
      .main__servicos .servicos h5 {
        grid-area: h5; } }

@media screen and (min-width: 655px) {
  .cabecalho__servicos {
    background-image: url("../img/christophe-r-QM2Exov4E2Q-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 28vh;
    padding: 10px; }
  .main__servicos {
    background-image: linear-gradient(#c7c9ca, #e8eff0); }
    .main__servicos .servicos {
      display: grid;
      grid-template-columns: 2fr 7fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img h2" "img p" "img h5"; }
      .main__servicos .servicos img {
        grid-area: img;
        width: 42.24vh;
        height: auto;
        padding-top: 24px;
        padding-left: 24px; }
      .main__servicos .servicos h2 {
        grid-area: h2;
        padding-top: 20px;
        margin: 0 26px; }
      .main__servicos .servicos p {
        margin: 0 26px;
        grid-area: p; }
      .main__servicos .servicos h5 {
        grid-area: h5; } }

@media screen and (min-width: 320px) and (max-width: 655px) {
  body {
    background-color: #407680; }
    body .grade {
      display: grid;
      grid-template-areas: "header" "cabecalho" "main" "address" "footer";
      grid-template-rows: repeat(1fr); }
      body .grade nav {
        grid-area: header; }
        body .grade nav .menu__item {
          font-family: Dancing Script;
          font-size: 1.5rem;
          color: #ffffff; }
        body .grade nav a {
          color: #ffffff;
          text-decoration: none; }
          body .grade nav a .nav-link {
            color: #ffffff; }
        body .grade nav .menu__image {
          width: 18vh;
          height: 15vh;
          display: flex;
          flex-direction: row; }
      body .grade .cabecalho {
        background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 36vh;
        grid-area: cabecalho; }
        body .grade .cabecalho h1.cabecalho__title {
          font-family: Dancing Script;
          font-size: 3.5rem;
          text-align: right;
          color: #ffffff;
          padding-top: 1.5em;
          margin-right: 25px;
          margin-left: 22%; }
      body .grade h2.cabecalho__title {
        font-family: Dancing Script;
        font-size: 4rem;
        color: #ffffff; }
      body .grade .cabecalho__title__right {
        text-align: right;
        margin-right: 25px;
        margin-left: 30%; }
      body .grade .cabecalho__title__left {
        text-align: left;
        margin-left: 30px;
        margin-right: 30%; }
      body .grade .main {
        grid-area: main;
        display: grid;
        grid-template-areas: "equipe" "pratos";
        grid-template-rows: 45% 45%;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 30px;
        background-image: linear-gradient(#b3bbbd, #c9dde0); }
        body .grade .main h2 {
          text-align: center; }
        body .grade .main .equipe .grade__equipe {
          display: grid;
          grid-template-areas: "img" "p";
          grid-template-rows: 78% 30%;
          grid-template-columns: 1fr;
          justify-content: center; }
          body .grade .main .equipe .grade__equipe img {
            margin-top: 20px;
            grid-area: img; }
          body .grade .main .equipe .grade__equipe p {
            height: 160px; }
        body .grade .main .pratos {
          margin-top: 55px; }
          body .grade .main .pratos .grade__pratos {
            display: grid;
            grid-template-areas: "img img" "img img" "img img";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            align-items: center; }
            body .grade .main .pratos .grade__pratos img {
              width: auto;
              height: 20vh;
              grid-area: img;
              padding: 10px 10px;
              transition: height 1s;
              transition: width 1s; }
              body .grade .main .pratos .grade__pratos img:hover {
                height: 22.5vh;
                width: 25vh; }
      body .grade h2 {
        font-family: Dancing Script;
        font-size: 2.36rem;
        font-weight: 400; }
      body .grade h3 {
        font-family: Dancing Script;
        font-size: 2rem;
        padding-top: 8px; }
      body .grade h5 {
        font-family: Mulish;
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 8px;
        padding-left: 50px; }
      body .grade p {
        font-family: Mulish;
        font-size: 1.1rem;
        text-align: justify; }
      body .grade .endereco {
        display: grid;
        grid-template-areas: "h2" "maps" "grade__endereco" "endereco__nome";
        padding-top: 36px;
        background-color: #407680;
        grid-area: address; }
        body .grade .endereco h2 {
          grid-area: h2;
          text-align: center;
          color: #ffffff; }
        body .grade .endereco .grade__mapa .maps {
          grid-area: maps;
          width: 100%;
          height: 42vh;
          align-items: center; }
        body .grade .endereco .grade__mapa .grade__endereco {
          grid-area: grade__endereco;
          display: flex;
          flex-direction: column;
          margin-top: 16px;
          margin-bottom: 16px; }
          body .grade .endereco .grade__mapa .grade__endereco .endereco__nome {
            text-align: center;
            color: #ffffff; }
      body .grade .link__reserva {
        text-align: center;
        padding-top: 24px;
        margin: 10px;
        font-family: Mulish;
        font-size: 1.3rem; }
        body .grade .link__reserva a {
          color: #111111; }
      body .grade .link__reserva__white {
        color: #ffffff; }
        body .grade .link__reserva__white a {
          color: #ffffff; }
      body .grade .footer {
        background-color: #162e33;
        padding-top: 16px;
        padding-bottom: 16px;
        grid-area: footer; }
        body .grade .footer p {
          justify-content: center;
          font-family: Mulish;
          text-align: center;
          font-size: 1rem;
          font-weight: bold;
          color: #ffffff;
          text-align: center; }
        body .grade .footer .redes__sociais {
          text-align: center;
          align-items: center; }
          body .grade .footer .redes__sociais img {
            width: 5vh;
            height: 5vh; } }

@media screen and (min-width: 656px) {
  body {
    background-color: #407680; }
    body .grade {
      display: grid;
      grid-template-areas: "header" "cabecalho" "main" "address" "footer";
      grid-template-rows: 1fr;
      grid-template-columns: 100%; }
      body .grade nav {
        grid-area: header; }
        body .grade nav .menu__item {
          font-family: Dancing Script;
          font-size: 1.5rem;
          color: #ffffff; }
        body .grade nav a {
          color: #ffffff;
          text-decoration: none; }
          body .grade nav a .nav-link {
            color: #ffffff; }
        body .grade nav .menu__image {
          width: 19.2vh;
          height: 14.4vh; }
      body .grade .cabecalho {
        background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 58.24vh;
        grid-area: cabecalho; }
        body .grade .cabecalho h1.cabecalho__title {
          font-family: Dancing Script;
          font-size: 5rem;
          text-align: right;
          color: #ffffff;
          padding-top: 3em;
          margin-right: 30px;
          margin-left: 45%; }
      body .grade h2.cabecalho__title {
        font-family: Dancing Script;
        font-size: 5rem;
        color: #ffffff;
        padding-top: 1em; }
      body .grade .cabecalho__title__right {
        text-align: right;
        margin-right: 30px; }
      body .grade .cabecalho__title__left {
        text-align: left;
        margin-left: 30px; }
      body .grade .main {
        display: grid;
        grid-template-areas: "equipe pratos";
        grid-template-rows: 100%;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        padding: 30px;
        background-image: linear-gradient(#b3bbbd, #c9dde0);
        grid-area: main; }
        body .grade .main h2 {
          text-align: center; }
        body .grade .main .equipe {
          padding-bottom: 50px; }
          body .grade .main .equipe .grade__equipe {
            display: grid;
            grid-template-areas: "img" "p";
            grid-template-rows: 80% 30%;
            grid-template-columns: 1fr;
            justify-content: center; }
            body .grade .main .equipe .grade__equipe img {
              margin: 50px 0 60px 0;
              grid-area: img; }
            body .grade .main .equipe .grade__equipe p {
              height: 200px; }
        body .grade .main .pratos .grade__pratos {
          display: grid;
          grid-template-areas: "img img img" "img img img";
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-content: center; }
          body .grade .main .pratos .grade__pratos img {
            width: 24vh;
            height: 20vh;
            transition: height 2s;
            transition: width 2s;
            padding-top: 50px; }
            body .grade .main .pratos .grade__pratos img:hover {
              width: 26vh;
              height: 22vh; }
      body .grade h2 {
        font-family: Dancing Script;
        font-size: 2.5rem;
        font-weight: 400; }
      body .grade h3 {
        font-family: Dancing Script;
        font-size: 2.25rem; }
      body .grade h5 {
        font-family: Mulish;
        font-size: 1.1rem;
        font-weight: bold;
        padding-left: 26px; }
      body .grade p {
        font-family: Mulish;
        font-size: 1.1rem;
        text-align: justify; }
      body .grade .endereco {
        display: flex;
        padding-top: 36px;
        flex-direction: column;
        background-color: #407680;
        grid-area: address; }
        body .grade .endereco h2 {
          text-align: center;
          color: #ffffff; }
        body .grade .endereco .grade__mapa {
          display: flex;
          flex-direction: row;
          padding-left: 24px;
          padding-bottom: 16px;
          align-items: center; }
          body .grade .endereco .grade__mapa .maps {
            width: 96vh;
            height: 72vh;
            padding-top: 16px; }
          body .grade .endereco .grade__mapa .grade__endereco {
            display: flex;
            flex-direction: column; }
            body .grade .endereco .grade__mapa .grade__endereco .endereco__nome {
              width: 80%;
              text-align: center;
              margin: auto;
              color: #ffffff; }
      body .grade .link__reserva {
        text-align: center;
        padding-top: 24px;
        margin: 10px;
        font-family: Mulish;
        font-size: 1.5rem; }
        body .grade .link__reserva a {
          color: #111111; }
      body .grade .link__reserva__white {
        color: #ffffff; }
        body .grade .link__reserva__white a {
          color: #ffffff; }
      body .grade .footer {
        background-color: #162e33;
        padding: 12px;
        padding-top: 16px;
        grid-area: footer; }
        body .grade .footer p {
          justify-content: center;
          font-family: Mulish;
          text-align: center;
          font-size: 1.1rem;
          font-weight: bold;
          color: #ffffff;
          text-align: center; }
        body .grade .footer .redes__sociais {
          align-items: center;
          text-align: center; }
          body .grade .footer .redes__sociais img {
            width: 6vh;
            height: 6vh; } }
