@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 320px) and (max-width: 655px) {
  .grade {
    display: grid;
    grid-template-areas:
      "header"
      "cabecalho"
      "main"
      "address"
      "footer";
    grid-template-rows: repeat(1fr);
  }

  .menu__image {
    width: 18vh;
    height: 15vh;
    display: flex;
    flex-direction: row;
  }

  nav a {
    color: #ffffff;
    text-decoration: none;
  }

  a .nav-link {
    color: #ffffff;
  }

  .menu__item {
    font-family: Dancing Script;
    font-size: 1.3rem;
    color: #ffffff;
  }

  .cabecalho {
    background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 36vh;
  }

  .cabecalho__title {
    font-family: Dancing Script;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    padding-top: 1.8em;
    padding-left: 4em;
  }

  .main {
    display: grid;
    grid-template-areas:
      "equipe"
      "pratos";
    grid-template-rows: 45% 45%;
    grid-template-columns: 100%;
    justify-content: space-between;
    padding: 1em;
    background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));
  }

  .equipe h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: Dancing Script;
  }

  .grade__equipe {
    display: grid;
    grid-template-areas:
      "img"
      "p";
    grid-template-rows: 40% 70%;
    grid-template-columns: 1fr;
    padding: 0 1.2em 0 1.2em;
  }

  .grade__equipe img {
    padding-top: 1.2em;
    grid-area: img;
  }

  .grade__equipe p {
    font-family: Mulish;
    font-size: 0.8rem;
    text-align: justify;
    padding-top: 4em;
    grid-area: p;
  }

  .pratos h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: Dancing Script;
    margin-top: 1em;
  }

  .grade__pratos {
    display: grid;
    grid-template-areas:
      "img img"
      "img img"
      "img img";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }

  .grade__pratos img {
    width: auto;
    height: 20vh;
    grid-area: img;
    padding: 0.5em 0.5em;
  }

  .endereco {
    display: grid;
    grid-template-areas:
      "h3"
      "maps"
      "grade__endereco"
      "endereco__nome";
    padding-top: 36px;
    background-color: rgb(64, 118, 128);
  }

  .endereco h3 {
    grid-area: h3;
    text-align: center;
    font-size: 2.36rem;
    font-weight: 400;
    font-family: Dancing Script;
    color: white;
  }

  .maps {
    grid-area: maps;
    width: 100%;
    height: 42vh;
    align-items: center;
  }

  .grade__endereco {
    grid-area: grade__endereco;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .endereco__nome {
    text-align: center;
    color: white;
    font-family: Mulish;
    font-size: 1.1rem;
  }

  .link__reserva {
    text-align: center;
    padding-top: 24px;
    color: white;
    font-family: Mulish;
    font-size: 1.1rem;
  }

  .link__reserva a {
    color: white;
  }

  .footer {
    background-color: rgb(22, 46, 51);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer p {
    justify-content: center;
    font-family: Mulish;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .footer .redes__sociais {
    text-align: center;
    align-items: center;
  }

  .redes__sociais img {
    width: 5vh;
    height: 5vh;
  }
}

@media (min-width: 656px) {
  .grade {
    display: grid;
    grid-template-areas:
      "header"
      "cabecalho"
      "main"
      "address"
      "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
  }

  .menu__image {
    width: 19vh;
    height: 14vh;
  }

  nav a {
    color: #ffffff;
    text-decoration: none;
  }

  .nav-link {
    color: #ffffff;
  }

  .menu__item {
    font-family: Dancing Script;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .cabecalho {
    background-image: url("../img/christophe-rollando-Q8g-hc935FE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 58vh;
  }

  .cabecalho__title {
    font-family: Dancing Script;
    font-size: 5rem;
    text-align: center;
    color: #ffffff;
    padding-top: 1.5em;
    padding-left: 6em;
  }

  .main {
    display: grid;
    grid-template-areas: "equipe pratos";
    grid-template-rows: 100%;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding: 2em;
    background-image: linear-gradient(rgb(179, 187, 189), rgb(201, 221, 224));
  }

  .equipe h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: Dancing Script;
  }

  .grade__equipe {
    display: grid;
    grid-template-areas:
      "img"
      "p";
    grid-template-rows: 40% 70%;
    grid-template-columns: 1fr;
    padding-left: 3em;
  }

  .grade__equipe img {
    width: 84vh;
    height: 52vh;
    padding-top: 3em;
  }

  .grade__equipe p {
    font-family: Mulish;
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 6em;
  }

  .pratos h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: Dancing Script;
  }

  .grade__pratos {
    display: grid;
    grid-template-areas:
      "img img img"
      "img img img";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 3em;
    align-items: center;
  }

  .grade__pratos img {
    width: 28vh;
    height: 20vh;
    padding: 0.3em;
    /*transition: height 2s, width 2s;*/
  }

  .grade__pratos img:hover {
    /*width: 32vh;
    height: 24vh;*/
    transform: translate(1em, 1em);
  }

  .endereco {
    display: flex;
    padding-top: 36px;
    flex-direction: column;
    background-color: rgb(64, 118, 128);
  }

  .endereco h3 {
    text-align: center;
    font-size: 2.36rem;
    font-weight: 400;
    font-family: Dancing Script;
    color: white;
  }

  .maps {
    width: 96vh;
    height: 72vh;
    padding-top: 16px;
  }

  .grade__mapa {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-bottom: 16px;
    align-items: center;
  }

  .grade__endereco {
    display: flex;
    flex-direction: column;
  }

  .endereco__nome {
    padding-left: 64px;
    color: white;
    font-family: Mulish;
    font-size: 1.25rem;
  }

  .link__reserva {
    padding-left: 64px;
    padding-top: 50px;
    color: white;
    font-family: Mulish;
    font-size: 1.25rem;
  }

  .link__reserva a {
    color: white;
  }

  .footer {
    background-color: rgb(22, 46, 51);
    padding: 12px;
    padding-top: 16px;
  }

  .footer p {
    justify-content: center;
    font-family: Mulish;
    text-align: center;
    font-size: 1.65rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .footer .redes__sociais {
    align-items: center;
    text-align: center;
  }

  .redes__sociais img {
    width: 6vh;
    height: 6vh;
  }
}
